<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof siteTitle !== 'undefined' ? siteTitle : 'Título por defecto' %></title>
    <%- block('head').toString() %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <section>
      <%- body -%>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>