<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof siteTitle !== 'undefined' ? siteTitle : 'Título por defecto' %></title>
    <link rel="stylesheet" type="text/css" href="/dist/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/web.css">
    <%- block('styles').toString() %>
  </head>
  <body>
    <%- include('../partials/web_header') %>
    <section>
      <%- body -%>
    </section>
    <%- include('../partials/web_footer') %>
    <%- block('scripts').toString() %>
  </body>
</html>